@import "tailwindcss";

@layer components{
  .input{
    @apply focus:ring-darkbrown-1 rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 focus:ring focus:outline-none md:px-6 md:py-3
  }

  

 

  

}

@theme {
  --color-base: #f5efe9;
  --color-darkbrown-1: #22130c;
  --color-darkbrown-2: #443225;
  --color-brown-1: #b28b59;
  --color-brown-2: #e3bd86;
  --font-sans: 'Noto Sans', sans-serif;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #a7a0a0;
  color: #3b1c1c;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 32px;
  height: 100dvh;
}


